<!-- views/partials/header.hbs -->
<meta charset="UTF-8">

<meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Note: perhaps set  -->
<title>Team Camellia</title>


<!-- CSS (load bootstrap from a CDN). Bootstrap used to create standard formatting/styling of pages -->
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">

<!-- Local stylesheet -->
<link type="text/css" rel="stylesheet" href="/static/style.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-info"
    style="margin-bottom:20px">
    <a class="navbar-brand" href="/">Camellia Art School</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Classes">Classes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Sessions">Sessions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Class_Times">Class Times</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Locations">Locations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Students">Students</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Teachers">Teachers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Enrollments">Enrollments</a>
        </li>
    </ul>
</nav>


