<!DOCTYPE html>

<!-- views/pages/index.hbs -->

<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Camellia Art School{{#if section_title}} -
            {{section_title}}{{/if}}</title>
    </head>
</head>
<main>

    <body>
        {{{body}}}
    </body>
</main>
<footer>
    {{>footer}}
</footer>


</html>
<html lang="en">