<div class="jumbotron">


    <div class="container">
        <div class="row">
            <h1>Welcome back, Administrator</h1>

            <h2>Utilize this application to maintain and review Camellia Art School logistics:</h2>
        </div>
        <div class="row">
            <div class="col">

                <h3>Manage:</h3>

                <div class="list-group">
                    <a href="/Classes" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Classes</h5>
                        </div>
                        <p class="mb-1">Add Class to curriculum and view current list of classes in curriculum.</p>
                    </a>
                    <a href="/Sessions" class="list-group-item list-group-item-action ">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Sessions</h5>
                        </div>
                        <p class="mb-1">Find, add, update or delete a session.</p>
                    </a>
                    <a href="/Class_Times" class="list-group-item list-group-item-action ">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Class Times</h5>
                        </div>
                        <p class="mb-1">Schedule, search and view established class times.</p>
                    </a>
                    <a href="/Locations" class="list-group-item list-group-item-action ">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Locations</h5>
                        </div>
                        <p class="mb-1">Add new locations and search for existing locations.</p>
                    </a>
                    <a href="/Students" class="list-group-item list-group-item-action ">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Students</h5>
                        </div>
                        <p class="mb-1">Add new students, view all students or update a student's information.</p>
                    </a>
                    <a href="/Teachers" class="list-group-item list-group-item-action ">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Teachers</h5>
                        </div>
                        <p class="mb-1">Add new teachers and view all teachers' information.</p>
                    </a>
                    <a href="/Enrollments" class="list-group-item list-group-item-action ">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Enrollments</h5>
                        </div>
                        <p class="mb-1">Search and view student or session enrollments, create new enrollments or delete an enrollment.</p>
                    </a>
                </div>
            </div>
            <div class="col-1">
            </div>
            <div class="col">
                <img src="/static/homepage.png" class="img-fluid" alt="Responsive image">
                <small>Graphic credit: Made using AdobeSpark</small>
            </div>
        </div>
    </div>


</div>